<body>
    <ul class="menu">
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#acerca">Acerca de</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#contacto">Contacto</a></li>
    </ul>
</body>

<body>
    <main>
        <img src="" />
        <br />
        <div class="_1tkkviz2 gapv913jb gapv913ii gapv913ef gapv913dm gapv913tb gapv913of gapv9153 gapv91fz gapv913xr gapv9143z gapv914vz">
            <div class="_1tkkviz4">
                <div class="gapv91tr gapv917z gapv91lz gapv912qn gapv91fz gapv9153 gapv915e gapv91kv gapv91pz gapv911q7">
                    <div class="gapv91tz gapv91tu gapv917z gapv91lz gapv912qn gapv91fz gapv9153 gapv91kv gapv91pz gapv911ov">
                        <img loading="eager" alt="Fortnite Chapter 4 Season 2 - Mega" src="https://cdn2.unrealengine.com/chapter4s3-logo-stacked-es-es1-1049x685-272e2c1a2fee.png" class="gapv91x3 gapv912x3 gapv912zb gapv9148v" />

                        <div class="gapv912qn gapv91tz gapv91fz gapv9153 gapv91lb gapv91q7 gapv911q7">
                            <a data-track="true" data-track-event-category="button" data-track-event-action="navigation" data-track-event-label="Más información" data-track-button-location="slide-1" data-track-button-destination-link="/battle-pass" data-track-button-section="hero"
                                data-track-button-name="ctaPrimary" data-track-slider-creative="https://cdn2.unrealengine.com/fortnite-home-page-battle-pass-promo-slide-desktop-1920x1080-8d9444dcb067.jpg" class="_1uc2zw81 kbpg1728 kbpg172u kbpg17n9 hg7qyxb hg7qyxl gapv911q7 gapv913xr gapv9148f gapv913jj gapv913en gapv913t3 gapv913o7 hg7qyxs hg7qyxm"
                                href="/battle-pass?lang=es-ES" data-track-analytics-id="c-1v2_v0_c1057" data-track-test-name="c1057_Baseline">
                                <div class="kj7qgq0 kj7qgqe kj7qgqg kj7qgqb kj7qgql kj7qgqy gapv914ct gapv91n"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <video src="https://youtu.be/Y2WM_RijLsw?t=4" style="margin-left: 8%;" controls width="600" height="400">